section{
    text-align: center;
    font-family: monospace;
    border: 1px solid black;
    color: black;
    background-color: aliceblue;     

    position: fixed;
        left: 450.5px;
        right: 450.5px;
        top: 75px;
}

section:hover{
        text-align: center;
        font-family: monospace;
        border: 1px solid black;
        color: red;
        background-color: rgb(219, 219, 219);  
        background-image: url(..//img/calavera.png);
        background-position: center;
        background-repeat: no-repeat; 
       
}

section > div > img.contenedor:hover{
        opacity: 0;            
}



section > article > a:hover{
    color: yellow;
    font-size: 25px;
}
