
body > hr{
    border-color: brown;
    border-width: 0.5px;
}

h1{
    text-align: center;
    padding-top: 80px;
}

h2{
    text-align: center;
}

form{
    padding-top: 50px;
    padding-left: 592px;
}

form > div.boton{
    padding-top: 10px;
    padding-left: 60px;
}
